body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: system-ui;
}

.container{
    border: 1px solid red;
    border-radius: 10px ;
    box-shadow: 0px 0px 10px 0px rgb(192, 55, 151);
}
/* Es buena práctica aplicar el hover a elementos hijos y no directamente
    para no tener animaciones raras
*/
/* .cuadrado:hover */
.container:hover .cuadrado{
   /*  sentido horario transform: rotate(45deg); */
    /* sentido antihorario transform: rotate(-45deg); */
    /* en el eje X 45 atras -45 adelante transform: rotateX(-45deg); */
    /* en el eje Y a los costados - + transform: rotateY(-45deg); */
    /* en el eje Z  transform: rotateZ(-45deg); */
    /* transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg); */
    /* aplicar lo de arriva en  una sola linea transform: rotate3d(x,y,z, rotate); */
    transform: rotate3d(50,10,10, 45deg);
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: #7dc900;
    margin: 20px;
    transition: .3s;
}