body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: system-ui;
    perspective: 200px;
    perspective-origin: center;
    /* perspective-origin: x,y; */
    /* perspective-origin: center; */
    /* perspective-origin: top; */
    /* perspective-origin: left; */
    /* combinaciones para la esquina  perspective-origin: top right; */

}

.container{
    border: 1px solid red;
    border-radius: 10px ;
    box-shadow: 0px 0px 10px 0px rgb(192, 55, 151);
}
/* Es buena práctica aplicar el hover a elementos hijos y no directamente
    para no tener animaciones raras
*/
/* .cuadrado:hover */
.container:hover .cuadrado{
    /* transform: translate(x,y); */
   /* transform: translate(100px,100px); */
   /* solo un eje X,Y  transform: translateX(100px); */
   /* La transformación en el eje Z solo funciona si aplicas la propiedad
      perspective: al elemento padre
   */
   transform: translateZ(100px);
   /* transform: translate3d(100px, 100px, 100px); */
  /*  transform: translate3d(-100px, -100px, -100px); */
  

}

.cuadrado{
    width: 200px;
    height: 200px;
    background: #7dc900;
    margin: 20px;
    transition: .3s;
}