
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: system-ui;
}

.pelota{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    transition:  1s ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pelota.a{
    background: red;
    left: 0;
}
.pelota.b{
    background: #6a1748;
    right: 0;
}

.canasta{
    border: 2px solid rgb(226, 43, 150);
    box-shadow: 0 0 10px 1px #c74ead;
    border-radius: 10px;
    position: relative;/* relative para que estén dentro de la canasta */
    height: 100px;
    width: 100%;
    /* transform: rotar|segar|posicion|tamaño; */
    transform: rotate(5deg) skew(-20deg) translate(100px) scale(.5);
}
.canasta:hover .pelota.a{
    left: calc(50% - 100px);
}

.canasta:hover .pelota.b{
    right: calc(50% - 100px);
}