
.pelota{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    /* transition-property: width,height; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease; */
    transition:  1s ease;
    /* Con esta propiedad se aplica todo en una sola linea 
        transition: wisth  or height 1s ease;
    */
}

.pelota:hover{
    width: 200px;
    height: 200px;
}
